@tailwind base;
@tailwind components;
@tailwind utilities;


/* ADMIN */

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.company-logo {
    background-image: url(/admin/img/logo-alt.png);
}
.menu-aside:hover .company-logo {
    @apply w-30;
    background-image: url(/admin/img/logo.png);
}
.menu-aside:not(:hover) .submenu {
	@apply max-h-0;
}

:root {
    --ck-border-radius: 0.5rem !important;
    --ck-color-focus-border: rgb(22 22 22) !important;
    --ck-inner-shadow: none !important;
}
.ck-rounded-corners .ck-sticky-panel__content{
    border-radius: 0.5rem;
}
.ck.ck-editor__main > .ck-editor__editable {
   @apply min-h-40;
}
.ck.ck-balloon-panel.ck-balloon-panel_visible {
	display: none !important;
}

table .sortable-fallback {
	@apply table bg-slate-50;
}

.sortable-ghost {
	@apply relative;
}
.sortable-ghost::after {
	@apply bg-white content-[''] absolute inset-0 border border-2 border-slate-600 border-dashed z-10;
}

.sortable-fallback {
  background: #fff;
}

.bg-checkered {
    background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
                      linear-gradient(-45deg, #ccc 25%, transparent 25%),
                      linear-gradient(45deg, transparent 75%, #ccc 75%),
                      linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

form .admin-select__control {
    @apply rounded-lg !border-gray-300 border-opacity-100 bg-transparent p-1 font-normal text-sm text-black outline-none transition hover:ring-0 !shadow-none disabled:cursor-default;
}
form .admin-select__control--is-focused,
form .admin-select__hidden__control--is-focused {
    @apply !border-black focus:border-black;
}
form .admin-select__indicator-separator,
form .admin-select__hidden__indicator-separator {
    @apply hidden;
}
form .admin-select__option {
    @apply text-sm;
}
